.landingDiv {
    width: 100vw !important;
    height: 100vh !important;
}

.subLandingDiv {
    // color: #FFFFFF !important;
    // border-style: dotted;
// padding-top:20px!important;
    width: 40vw !important;
    height: 70vh !important;
    // text-align: center!important;
}

#okta-sign-in{
    margin:0px!important;
    
}

.landingBanner{
    // position:fixed;
    //  top:50%!important;
    width:450px!important;
    height:auto!important;
    margin-top: 150px!important;
    margin-left: 40px!important;
}

.smallLanding{
    // margin-top:570px!important;
    // background: transparent!important;
}

.smScreenWidget{
    margin-top: 100px!important;
}



.auth-container {
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    background: transparent !important;
    border-top: 2px solid rgba(225, 225, 225, 0.3);
    border-left: 2px solid rgba(225, 225, 225, 0.1);
    border-right: 1px solid rgba(225, 225, 225, 0.2);
  }
  
  #okta-sign-in.auth-container .okta-form-label {
    // text-align: center !important;
  }
  
  .auth-container,
  .main-container,
  .no-beacon {
    background: transparent !important;
    color: #ffffff !important;
  }
  
  .okta-form-title,
  .o-form-head {
    color: #ffffff !important;
  }
  
  .okta-form-label,
  .o-form-label {
    color: #ffffff !important;
  }
  
  #okta-sign-in .sign-in-with-device-option .separation-line:before {
    border-top: none !important;
  }
  
  #okta-sign-in {
    .separation-line {
      background: transparent !important;
      font-size: 13px;
    }
    .separation-line span {
      color: #ffffff !important;
      background: transparent !important;
    }
  }
  
  #okta-sign-in .siw-main-footer .auth-footer .link {
    color: #ffffff !important;
  }
  
  .okta-verify-authenticator {
    background-image: url("/assets/img/panda.ico") !important;
  }
  
  .okta-form-infobox-error,
  .infobox,
  .infobox-error {
    color: red !important;
  }
  
  #okta-sign-in .auth-header {
    border: none !important;
  }
  
  #okta-sign-in {
    /* border-style: solid; */
    border-width: 0px !important;
    height: auto;
    margin: 0px !important;
  }
  
  #okta-sign-in.auth-container .button-primary {
    color: #fff;
    // background-color: #ff5733 !important;
    // background: #ff5733 !important;
    border-color: #abd5d6 !important;
  }
  
#okta-sign-in.auth-container h3 {
    color: #ffffff !important;
  }
  
  #okta-sign-in.auth-container .okta-form-subtitle {
    color: #ffffff !important;
  }
  #okta-sign-in .auth-org-logo {
    border-radius: 5px !important;
  }
  
  #okta-sign-in.auth-container .mfa-okta-verify, .mfa-okta-password {
    display:none!important;
  
  }
  
  #okta-sign-in .o-form .o-form-fieldset:last-child {
 display:none!important;
}

.siw-main-footer{
    display:none!important;   
}