.userAddMainDiv {
    // color: black !important;
    // border-style: dotted;
    width: 100% !important;
    text-align: center !important;

}

.groupAddMainDiv {
    // color: black !important;
    // border-style: dotted;
    width: 90% !important;
}

.modalBannerDiv {
    // color: black !important;
    // border-style: dotted;
    
    width: 90% !important;
    // box-shadow: 0px 5px 12px 0px #6e6e78 !important;
    // border-radius: 5px!important;

    margin-top:20px!important;
    margin-bottom: 10px!important;
}

.userAddBanner {
    width: 200px !important;
    // box-shadow: 0px 5px 12px 0px #6e6e78 !important;
    border-style: solid!important;
    border-width: 1px!important;
    border-radius: 5px!important;
    border-color: #6e6e78!important;
    padding-left:30px!important;
    padding-right:30px!important;
}

.dividerDiv{
    // width: 90% !important;
    // border-style: dotted;
}

.dividerImg{
    width:50px!important;
}

.txtField{
    margin-top:35px!important;
    margin-bottom:15px!important;
}

.btnDiv{
    margin-top:20px!important;
}