.addMainDiv {
    width: 100vw !important;
    height: 100vh !important;
}


.userName {
    // color: #FFFFFF !important;
    // border-style: dotted;
    width: 100vw !important;
    height: 50px !important;
    padding-left: 5vw !important;
}

.subAddDiv {
    color: #FFFFFF !important;
    border-style: dotted;
    // padding-top:20px!important;
    width: 40vw !important;
    height: 70vh !important;
    // text-align: center!important;
}

.addBannerDiv{
    width: 100vw !important;
    text-align: center!important;
}

.addBanner{
    height:10vh!important;
}