#mainDock{
    .p-dock{
        .p-dock-list-container{
            // background-color: #00297A;
            // border-radius: 7px;
        }
    .p-dock-list{
        padding: 6px!important;
    }
}}