
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import url("../node_modules/primeng/resources/themes/lara-light-blue/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeicons/primeicons.css");
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kent-org-user-group-add-primary: mat.define-palette(mat.$indigo-palette);
$kent-org-user-group-add-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kent-org-user-group-add-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kent-org-user-group-add-theme: mat.define-light-theme((
  color: (
    primary: $kent-org-user-group-add-primary,
    accent: $kent-org-user-group-add-accent,
    warn: $kent-org-user-group-add-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kent-org-user-group-add-theme);

/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: "ABCWhyte Book", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
  "Cantarell", "Helvetica Neue", sans-serif !important; }

